$layers: (
  //----Bottom
  '.clock .bk-ornament',
  '.underwater .bk-ornament',
  '.dragon .bk-ornament',
  '.dragon-night .bk-ornament',
  '.night .bk-ornament',
  '.sunset .bk-ornament',
  '.clouds',
  '.mountains',
  '.city',

  'section.home',
  'section.projects',
  'section.contact',
  //----Front
);

$index: -1;
@each $layer in $layers {
  $index: $index + 1;
  #{$layer} {
    z-index: $index;
  }
}