#{mr-section(drlogic-home)},
#{mr-section(drlogic-contact)},
#{mr-section(drlogic-team)},
#{mr-section(drlogic-support)},
#{mr-section(drlogic-services)},
#{mr-section(drlogic-testimonials)} {
  @import "mini-bootstrap";
  @import "base/variables";
  @import "base/typography";
  @import "mixins/main";
  @import "main/main";
  @import "main/footer";

  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  letter-spacing: 0.8pt;
  background-color: #fff;
  color: #333;
}

#{mr-section(drlogic-home)} {
  @import "base/variables";
  @import "sections/home";
}

#{mr-section(drlogic-contact)} {
  @import "base/variables";
  @import "sections/contact";
}

#{mr-section(drlogic-team)} {
  @import "base/variables";
  @import "mixins/about";
  @import "sections/about";
}

#{mr-section(drlogic-support)} {
  @import "base/variables";
  @import "sections/services";
}

#{mr-section(drlogic-services)} {
  @import "base/variables";
  @import "sections/other-services";
}

#{mr-section(drlogic-testimonials)} {
  @import "base/variables";
  @import "mixins/testimonials";
  @import "sections/testimonials";
}
