&.section-2018-apap {
	header {
		background: url(get-zapp("img/2018/headers/apap.jpg")) bottom no-repeat;

		@media (max-width: $largeScreen) {
			background: #243b87;
		}
	}

	h1 {
		color: #fff;
	}

	.info:first-child {
		border-bottom: 3px solid #e6e034;
	}
}
