&.section-2018-bpr {
	header {
		background: url("https://miguel-rivas.github.io/zapp/img/2018/headers/bpr.jpg") bottom no-repeat;

		@media (max-width: $largeScreen) {
			background: #4b4b4b;
		}
	}

	h1 {
		color: #ccc;
	}

	nav {
		button.fa.fa-bars {
			color: #ccc;
		}
	}

	.info:first-child {
		border-bottom: 3px solid #aaa;
	}
}
