h1,
h2,
h3,
h4 {
	font-weight: bold;
	line-height: 1;
}

a {
	text-decoration: none;
}

h2 {
	color: #000;
	font-size: 58pt;
	margin-bottom: 50px;
	position: relative;
	z-index: 2;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
	text-transform: uppercase;

	@media (max-width: 500px) {
		font-size: 34pt;
	}

	strong {
		font-size: 22pt;
		display: block;
		width: 235px;
		margin: auto;
		padding: 7px 20px;
		letter-spacing: 4pt;
		background-color: #fbb03b;
		position: relative;

		&:before, &:after {
		    content: "";
		    display: block;
		    background-color: #f7931e;
		    width: 38px;
		    height: 100%;
		    margin: 0 10px 8px;
		    position: absolute;
			top: 10px;
			z-index: -1;
		}

		&:before {
			right: -37px;
			@media (max-width: 500px) { right: -25px; }
		}
		&:after {
			left: -37px;
			@media (max-width: 500px) { left: -25px; }
		}

		@media (max-width: 500px) {
			font-size: 15pt;
			width: 160px;
		}
	}
}

.btn {
	font-size: 9pt;
	color: #fff;
	background-color: #0071bc;
	padding: 10px 20px;
	transition: 500ms;
	display: inline-block;
	text-decoration: none;
	box-shadow: 0 4px 0 #104056;
	min-width: 190px;

	&:hover {
		background-color: #2795de;
	}
}

aside.texture {
	opacity: 0.2;
	background: url('https://miguel-rivas.github.io/zapp/img/2018/paper.jpg') center repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	pointer-events: none;
	z-index: 10;
}

.cloud {
	position: absolute;
	opacity: .5;
	animation-name: flyingCloud;
	animation-duration: 70s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	left: -690px;
	pointer-events: none;

	&.c01 { bottom: 320px; animation-delay: 10s; }
	&.c02 { bottom: 210px; animation-delay: 4s;}
	&.c03 { bottom: 220px; }
}

section.printBody
{
	display: none;
}