@keyframes clicking_01
{
  0%
  {
    transform: rotateZ(-3deg) translateX(2px);
  }
  20%
  {
    transform: rotateZ(5deg) translateX(2px);
  }
  40%
  {
    transform: rotateZ(-3deg) translateX(2px);
  }
  60%
  {
    transform: rotateZ(-3deg) translateX(3px);
  }
  80%
  {
    transform: rotateZ(5deg) translateX(3px);
  }
  100%
  {
    transform: rotateZ(-3deg) translateX(3px);
  }
}

@keyframes clicking_02
{
  0%
  {
    transform: rotateZ(-3deg) translateX(0);
  }
  20%
  {
    transform: rotateZ(5deg) translateX(0);
  }
  40%
  {
    transform: rotateZ(-3deg) translateX(0);
  }
  60%
  {
    transform: rotateZ(-3deg) translateX(3px);
  }
  80%
  {
    transform: rotateZ(5deg) translateX(3px);
  }
  100%
  {
    transform: rotateZ(-3deg) translateX(3px);
  }
}

@keyframes cursor_moving
{
  0% { transform: translate(0px, 0px); }
  10% { transform: translate(0px, 0px); }
  30% { transform: translate(0px, -79px); }
  32% { transform: translate(0px, -79px); }
  55% { transform: translate(-90px, -59px); }
  58% { transform: translate(-90px, -59px); }
  82% { transform: translate(-25px, -76px); }
  85% { transform: translate(-25px, -76px); }
  95% { transform: translate(0px, 0px); }
}

@keyframes folder_open
{
  0% { opacity: 0; }
  30% { opacity: 0; }
  32% { opacity: 1; }
  82% { opacity: 1; }
  85% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes knocking
{
  from
  {
    transform: rotateZ(-4deg);
  }
  to
  {
    transform: rotateZ(6deg);
  }
}

@keyframes nodding
{
  from
  {
    transform: rotateZ(-4deg);
  }
  to
  {
    transform: rotateZ(8deg);
  }
}

@keyframes shaking
{
  from
  {
    transform: translateY(0px);
  }
  to
  {
    transform: translateY(5px);
  }
}

@keyframes watching
{
  0%
  {
    transform: rotateZ(7deg);
  }
  20%
  {
    transform: rotateZ(-2deg);
  }
  95%
  {
    transform: rotateZ(-2deg);
  }
}