@keyframes globeShaking {
  from {
    transform: scaleX(-1) rotateZ(0deg) rotateX(0deg);
  }
  to {
    transform: scaleX(-1) rotateZ(10deg) rotateX(10deg);
  }
}

@keyframes globeShaking2 {
  from {
    transform: rotateZ(0deg) rotateX(0deg);
  }
  to {
    transform: rotateZ(-10deg) rotateX(10deg);
  }
}

@keyframes dataTransferTablet
{
  $steps: 22;
  $fx: (100 / 22);
  $kounter: 0;

  #{ $fx * $kounter }% {
    top: 169px;
    left: 153px;
    opacity: 1;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 226px;
    left: 153px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 226px;
    left: 231px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 277px;
    left: 231px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 277px;
    left: 165px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 371px;
    left: 165px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 371px;
    left: 310px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 371px;
    left: 475px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 280px;
    left: 475px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 280px;
    left: 405px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 207px;
    left: 405px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 207px;
    left: 460px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 164px;
    left: 460px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 207px;
    left: 460px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 207px;
    left: 405px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 280px;
    left: 405px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 280px;
    left: 475px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 371px;
    left: 475px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 371px;
    left: 310px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 261px;
    left: 310px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 261px;
    left: 350px;
  }

  $kounter: $kounter + 1;
  #{ $fx * $kounter }% {
    top: 106px;
    left: 350px;
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 106px;
    left: 350px;
  }
}