#nav {

	@include nav-color( "blue", $brand-blue, 100% -2px );
	@include nav-color( "red", $brand-red, 100% -99px );
	@include nav-color( "green", $brand-green, 100% -195px );
	@include nav-color( "purple", $brand-purple2, 100% -293px );
	@include nav-color( "cyan", $brand-cyan, 100% -391px );
	@include nav-color( "orange", $brand-orange, 100% -488px );

	.container {
		position: relative;

		@media (min-width: $screen-lg-min) {
			width: 1100px;
		}

		@media (min-width: $screen-sm-min) {
			background: url("../img/nav-wire.png");
			background-repeat: no-repeat;
		}
	}

	&.navbar {
		margin-bottom: 0 !important;
		@media (min-width: $screen-sm-min) {
			padding-bottom: 13px;
		}
	}

	address { margin-bottom: 0;}

	.navbar-collapse {
		border-color: transparent;
		box-shadow: none;
	}

	.navbar-brand {
		position: relative;
		z-index: 11;
		height: auto;

		@media (min-width: $screen-sm-min) {
			width: 110px;
			padding: 0;
			margin: 20px 0 0;
		}

		.visible-xs {
			width: 110px;
		}

		box-sizing: content-box;
		.hidden-xs {
			width: 100%;
		}
	}

	.info {
		display: none;
		float: right;
		margin: 9px 14px -20px;
		font-size: 9pt;

		@media (min-width: $screen-sm-min) {
			display: block;
		}
	}

	.dropdown-menu {
		border: transparent;
		top: 23px;
		box-shadow: 0 0 0 transparent;
		border-radius: 0;
		left: -4px;

		@media (min-width: $screen-sm-min) {
			padding: 13px 0 0;
		}

		li {
			@media (min-width: $screen-sm-min) {
				padding: 5px 0 6px;
				border-bottom: 1px solid #eee;
			}
		}

		a {
			padding: 5px 15px;
			&:after {
				display: none;
			}
		}
	}

	ul {
		@media (min-width: $screen-sm-min) {
			position: absolute;
			top: 46px;
			right: 30px;
		}

	}

	li {

		&.active-dropdown {
			a.dropdown-toggle {
				&:after {
					opacity: 1;
				}
			}
		}

		&.active {
			a {
				&:after {
					opacity: 1;
				}
			}
		}

		a {
			padding: 10px 15px;
			color: #fff;
			text-transform: uppercase;
			background-color: transparent;
			font-weight: 300;
			font-size: 10pt;
			line-height: 1;

			@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
				font-size: 8pt;
				padding: 0 10px;
			}

			@media (min-width: $screen-sm-min) {
				color: #000;
				padding: 0 15px;
			}

			&:after {
				@media (min-width: $screen-md-min) {
					content: "";
					display: block;
					transform: rotateZ(45deg);
					width: 20px;
					height: 20px;
					position: relative;
					margin: auto;
					top: 10px;
					opacity: 0;
					transition-property: color, background-color, opacity;
					transition-duration: 500ms;
				}

			}
		}
	}

}


.navbar-default {
	border: none;

	.navbar-toggle {
		border-color: transparent;
		.icon-bar {
			background-color: #fff;
		}
	}
}