header {
	position: relative;
	background: #3680d0 url("https://miguel-rivas.github.io/zapp/img/2016/landing_cloud_top.png") bottom left no-repeat;
	background-size: 100% !important;
	height: 100vh;
	min-height: 560px;
}