$layers: (
  //----Bottom
  '.section-home .content',
  '.mr-app .mr-primary-navbar',
  '.panel',
  '.mr-toggle-panel',
  '.modal-bk',
  '.alert',
  //----Front
);

$index: 10;
@each $layer in $layers {
  $index: $index + 1;
  #{$layer} {
    z-index: $index;
  }
}