#contact {
	padding-bottom: 0.1px;

	section.intro {
		background-image: none;
		.container {
			position: relative;
			z-index: 2;
		}
		.animation-intro {
			height: 100vh;
			min-height: 888px;
			max-height: 1050px;
			top: 0;
			margin-left: auto;
			margin-right: auto;
		}

	}

	section.body {
		margin-top: -110px;

		.bend {
			padding: 100px 0 10px;
			width: 120%;
			left: -10%;
		}
	}

	.goToMap {
		cursor: pointer;
	}

}

.relative-box {
	position: relative;
	height: 100%;
}

section.body {

	address {
		max-width: 285px;
		padding-top: 20px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 80px;

		img {
			width: 59px;
			float: left;
			margin-right: 30px;
			transition: transform 500ms;
		}

		p {
			height: 42px;
			line-height: 1.5;
			margin: 25px 0;

			&:hover img {
				transform: rotateZ(15deg);
			}
		}

		span, strong {
			font-weight: 500;
			position: relative;
			top: 2px;
		}

		strong {
			display: block;
		}

		.phone {
			&:before {
				content: "";
			}
		}

	}
}

#contact {

	.intro {
		background-color: $brand-orange;
		overflow: hidden;
	}

	.animation-intro {
		width: 100%;
		margin-bottom: -110px;
		margin-top: -265px;
		position: relative;

		.plane {
			position: absolute;
			bottom: -250px;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in;

			$more-time: 1500ms;

			&.p01 {
				left: 40%;
				animation-name: flying_plane_01;
				animation-duration: 2900ms + $more-time;
			}

			&.p02 {
				left: 45%;
				animation-name: flying_plane_02;
				animation-duration: 1700ms + $more-time;
			}

			&.p03 {
				left: 47%;
				animation-name: flying_plane_03;
				animation-duration: 3400ms + $more-time;
			}

			&.p04 {
				left: 47%;
				animation-name: flying_plane_04;
				animation-duration: 2800ms + $more-time;
			}

			&.p05 {
				left: 54%;
				animation-name: flying_plane_05;
				animation-duration: 2300ms + $more-time;
			}

			&.p06 {
				left: 58%;
				animation-name: flying_plane_06;
				animation-duration: 2100ms + $more-time;
			}

		}
	}

	form {
		text-align: right;
			legend {
				border-bottom: none;
				text-align: left;
				font-size: 13pt;
			}

			button
			{
				width: 100%;
			}
		}

	.form-group {
		position: relative;
		min-height: 35px;
		font-size: 0;

		&:hover > span {
			background-color: #17CCBB;
		}

		&.txt-area {
			height: 70px;
		}

		.help-block.with-errors {
			font-size: 10pt;
			pointer-events: none;
			margin: 0;
			position: absolute;
			top: 7px;
			right: 10px;
			color: #ea8755;

		}

		input, textarea {
			display: inline-block;
			width: calc( 100% - 36px);
			height: 100%;
			border: none;
			border-radius: 0;
			background-color: #efefef;
			color: #000;
			font-size: 10pt;
			padding: 9px;
			vertical-align: top;
		}

		span {
			font-size: 12px;
			display: inline-block;
			width: 34px;
			height: 100%;
			color: #fff;
			text-align: center;
			line-height: 23px;
			border-radius: 0;
			vertical-align: top;
			background: #3292D6;
			border: none;
			transition: background-color 500ms;
			margin-right: -1px;
		}
	}
}

#location {
	text-align: center;
	margin-top: 70px;
}

#map {
	height: 500px;
	margin-bottom: 130px;

	@media (max-width: $screen-sm-min) {
		pointer-events: none;
	}

	.overlay {
		position: relative;
		text-align: center;
		width: 200px;
		top: -23px;

		p {
			font: 12pt $base-font-family;
			background-color: rgba(42,74,100,1);
			padding: 8px 21px;
			border-radius: 9px;
			color: #fff;
			display: inline-block;
		}

		.point {
			background-color: rgba(42,74,100,0.22);
			border-radius: 50%;
			display: inline-block;
			font-size: 0;
			width: 80px;
			text-align: center;
			height: 80px;
			line-height: 80px;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in;
			animation-name: glowing_mark;
			animation-duration: 1000ms;

			&:before {
				content: "";
				display: inline-block;
				background-color: rgba(42,74,100,1);
				width: 20px;
				height: 20px;
				border-radius: 50%;
				vertical-align: middle;
			}
		}
	}

}