#testimonial {

  .apple-reviews {
    padding: 15px 28px;
    margin: 27px 0 0px;

    img {
      width: 145px;
      vertical-align: -6px;
    }
  }

  section.intro {
    background-color: $brand-cyan;
    height: 100vh;
    min-height: 860px;
    position: relative;

    @media (min-width: $screen-md-min) {
      max-height: 1050px;
    }

    @media (max-width: $screen-sm-min) {
      min-height: 1080px;
    }

    p {
      margin: 0 auto;
      line-height: 1.7;
    }

  }

  .body {
    z-index: 11;
    overflow: hidden visible;
    margin-bottom: -470px;
  }

  .copywrite {
    margin: -20px auto 50px;
  }

  .animation-intro {
    overflow: hidden;
    height: 340px;
    position: absolute;
    bottom: 268px;
    right: 0;
    width: 100%;

    @media (max-width: $screen-sm-min) {
      bottom: 228px;
    }

    .relative-box {
      max-width: 390px;
      margin: auto;
    }

    img {
      position: absolute;
      display: block;

      &.jumping {
        top: 0;
        left: 38px;
        width: 85%;
        animation: drlogic-testimonials-rising 1200ms alternate infinite ease-in-out;
      }
      &.hands {
        bottom: 0px;
        left: 6px;
      }
    }
  }
}

article.speech-ballon {
  width: 270px;
  height: 250px;
  text-align: center;
  display: inline-block;
  margin: 15px;
  z-index: 1;
  vertical-align: top;

  .pixel-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.62);
    display: none;

    .close-pixel-modal {
      position: absolute;
      top: 20px;
      right: 0px;
      background-color: transparent;
      font-size: 22pt;
      color: #fff;
      z-index: 1;
      transition: opacity 500ms;
      text-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.13);

      @media (min-width: $screen-sm-min) {
        position: relative;
        top: 110px;
        right: -234px;
      }

      &:hover {
        opacity: .5;
      }
    }

    .logo-min {
      width: 140px;
      margin-bottom: 10px;
    }

    .fix-text {
      overflow-y: auto;
      height: 90%;
      padding: 15px;
      text-align: left;

      p {
        line-height: 1.2;
      }

      @media (min-width: $screen-sm-min) {
        height: 300px;
        margin-bottom: 30px;
      }

      small {
        font-weight: bold;
        font-size: 10pt;
      }

    }

    .pixel-modal-body {
      @media (min-width: $screen-sm-min) {
        border-radius: 50%;
        padding: 70px 90px;
        margin: 30px auto 0;
        max-width: 630px;
        height: auto;
      }

      width: 100%;
      top: 0;
      height: 100%;
      padding: 40px;
      margin: 0;
      position: relative;
      box-shadow: none;
      border-radius: 0;
      text-align: center;
      border: none;

      &:after {
        content: "";
        display: none;
        position: absolute;
        bottom: -6px;
        right: 73px;
        width: 260px;
        height: 190px;
        background-color: inherit;
        border-radius: 15px;
        transform: rotateZ(45deg);
        z-index: -1;

        @media (min-width: $screen-sm-min) {
          bottom: 10px;
          transform: rotateZ(16deg);
          display: block;
        }
      }
    }

  }

  .open-pixel-modal {
    display: block;
    height: 100%;
    line-height: 250px;
    background-color: transparent;
    margin: auto;
    font-size: 0;
    display: block;
    width: 100%;
  }

  .logo {
    vertical-align: middle;
    width: 70%;
  }

  /* ballon colors */
  @include ballon-color( "black", #000, #fff );
  @include ballon-color( "yellow", lighten( $brand-yellow, 5%) );
  @include ballon-color( "orange", lighten( $brand-orange, 5%) );
  @include ballon-color( "green", lighten( $brand-green, 15%) );
  @include ballon-color( "lightgreen", lighten( $brand-green, 35%) );
  @include ballon-color( "blue", lighten( $brand-blue, 25%) );
  @include ballon-color( "lavanda", #759cc3 );
  @include ballon-color( "red", lighten( $brand-red, 5%) );
  @include ballon-color( "purple", lighten( $brand-purple, 35%) );
  @include ballon-color( "cyan", lighten( $brand-cyan, 15%) );
  @include ballon-color( "gray", #42464F, #fff );
  @include ballon-color( "lightblue", #e2f1ff );

  &.color-outline {
    .preview {
      background-color: #fff;
      border: 3px dotted #AECE3C;
      &:after {
        border: 3px dotted #AECE3C;
      }
    }
  }

  &.active .preview {
    &:hover {
      transform: rotate(5deg);
    }
  }

  &.inactive .preview {
    pointer-events: none;
    &:after {
      display: none;
    }

  }

  .preview {
    border-radius: 50%;
    transition-property: transform, opacity;
    transition-duration: $base-duration;
    height: 100%;
    position: relative;
    z-index: 1;

    /* ballon tails */
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 52px;
      height: 50px;
      bottom: -4px;
      border-radius: 10%;
      background-color: inherit;
      z-index: -1;
    }

  }

  &.right-tail {
    .preview {
      &:after {
        right: 60px;
        transform: rotate(25deg);
      }
    }
  }

  &.left-tail {
    .preview {
      &:after {
        left: 60px;
        transform: rotate(-25deg);
      }
    }
  }

}