.section-evolution {
  .nano-workarea {

    $layers: (
      //----Bottom
      '.svg-border',
      '#bk',
      '.significante.back',
      '.mountain',
      'h1, h2, h3, p',
      '.significante.front',
      'nav',
      '#texture',
      //----Front
    );
    
    $index: 10;
    @each $layer in $layers {
      $index: $index + 1;
      #{$layer} {
        z-index: $index;
      }
    }

    $f_amatic: "Amatic SC", helvetica, sans-serif, verdana;
    $alizarin: #fc4e53;
    $alizarin2: #bd3b3e;
    $chartreuse: #d6de23;
    $chartreuse2: #a3cd39;
    $aqua: #21e097;
    $aqua2: #11c766;
    $mustard: #edcc0a;
    $brown: #764623;
    $blue: #4369bb;
    $purple: #401652;

    width: 20000px;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #222;
    color: #fff;
    font-family: $f_amatic;

    nn-scroll-area {
      scroll-behavior: smooth;
    }

    nn-scroll-area,
    .evolution {
      height: 100%;
      background-color: #222;
    }

    #bk {
      position: absolute;
      pointer-events: none;

      @include position(0, 0, 0, 0);
      @include size(100%, x, 100%, x);

      background: url(get-zapp("img/evolution/03_bk.png")) bottom repeat-x;
    }

    #texture {
      position: absolute;
      pointer-events: none;

      @include position(0, 0, 0, 0);
      @include size(100%, x, 100%, x);

      opacity: 0.2;
      background: url(get-zapp("img/extras/paper.jpg")) bottom repeat;

      filter: alpha(opacity=20);
    }

    ::selection {
      background-color: transparent;
      color: #f90;
    }

    article {
      font-size: 40pt;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      display: inline-flex;
      width: 100vw;
      height: 100%;
      overflow: hidden;
      vertical-align: top;
      text-align: center;
      flex-wrap: wrap;
    }

    a,
    a:link,
    a:hover,
    a:visited,
    a:active {
      text-decoration: none;
      color: #fff;
      border: none;
      &:focus {
        border: none;
        outline: none;
      }
    }

    .y60 {
      background-color: $brown;
    }
    .y80 {
      background-color: $blue;
    }
    .y90 {
      background-color: $purple;
    }
    .y2k {
      background-color: $aqua2;
    }
    .y2k1 {
      background-color: $alizarin;
    }

    .svg-border {
      position: absolute;
      display: block;
      width: 170px;
      height: 120%;
      left: -10px;
      transform-origin: 100% 50%;
      transform: skewY(0deg) translateY(0px) scaleY(1.1);
      animation: dancingCorners 2s alternate infinite;
    }

    .beginning {
      &.y60 {
        .svg-border {
          background-color: #222;

          polygon {
            fill: $brown;
          }
        }
      }
      &.y80 {
        .svg-border {
          background-color: $brown;

          polygon {
            fill: $blue;
          }
        }
      }
      &.y90 {
        .svg-border {
          background-color: $blue;

          polygon {
            fill: $purple;
          }
        }
      }
      &.y2k {
        .svg-border {
          background-color: $purple;

          polygon {
            fill: $aqua2;
          }
        }
      }
      &.y2k1 {
        .svg-border {
          background-color: $aqua2;

          polygon {
            fill: $alizarin;
          }
        }
      }
      &.smoke {
        .svg-border {
          background-color: $alizarin;

          polygon {
            fill: #222;
          }
        }
      }
    }

    @keyframes dancingCorners {
      25% {
        transform: skewY(10deg) translateY(-10px) scaleY(1.1);
      }
      75% {
        transform: skewY(-10deg) translateY(10px) scaleY(1.1);
      }
    }

    .mountain {
      animation: dancingMountain 1500ms alternate infinite;
      transform-origin: 100% 0;
    }

    .header.y60 .mountain{
      polygon { fill: darken($brown, 13%); }
    }
    .header.y80 .mountain{
      polygon { fill: darken($blue, 30%); }
    }
    .header.y90 .mountain{
      polygon { fill: darken($purple, 13%); }
    }
    .header.y2k .mountain{
      polygon { fill: darken($aqua2, 30%); }
    }
    .header.y2k1 .mountain{
      polygon { fill: darken($alizarin, 30%); }
    }

    @keyframes dancingMountain {
      from {
        transform: scaleY(1) translateY(0px);
      }
      to {
        transform: scaleY(0.9) translateY(12%);
      }
    }

    nav {
      font-size: 20pt;
      position: fixed;
      width: 100%;
      bottom: 1rem;
      cursor: default;
      text-align: center;
      color: #fff;

      a {
        cursor: pointer;
        transition: 100ms;
        &:hover {
          font-size: 25pt;
        }
      }
    }

    .smoke {
      table {
        font-size: 14pt;
        line-height: 25pt;

        width: 935px;
        margin: auto;

        text-align: center;

        border: 2px dashed #fff;
      }

      a {
        transition: 500ms;
        color: #d7d7d7;
        &:hover {
          color: #ffe800;
        }
      }
    }

    p {
      margin: 0;
    }

    h2 {
      font: normal 207pt/0 $f_amatic;
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      color: #fff;
    }

    h1,
    h3 {
      font: normal 60pt/100% $f_amatic;
      display: block;
      margin: 0;
    }

    h4 {
      font: normal 35pt/100% $f_amatic;
      display: block;
      margin: 0 0 12px 0;
    }

    .significante {
      position: absolute;
      left: 20%;
      margin: 0;
      padding: 0;
    }
  }
}
