#{mr-section(family)} {
  svg {
    width: 100%;
    height: 100vh;

    .person {
      font: 14px sans-serif;
      cursor: pointer;

      &.asociado {
        rect {
          stroke: #2995ff;
          stroke-dasharray: 7px;
        }
      }

      &.pareja {
        rect {
          fill: #7D7D92;
          stroke: #3A3885;
        }

        text {
          fill: #2B2B31;
        }
      }

      text {
        font: 12px "Montserrat";
        font-weight: bold;
        fill: #BBBBBB;
      }

      rect {
        fill: #2A2A37;
        stroke: #393859;
        stroke-width: 1px;
      }
    }

    .link {
      fill: none;
      stroke: rgb(232, 100, 100);
      stroke-width: 2px;
    }
  }
}