@use "sass:math";

@function calc-width-ratio($max, $min) {
  @return $max * math.div(100vh, $min);
}

#{mr-section(home)} {
  nn-scroll-area {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .background {
      min-width: #{calc-width-ratio(16, 9)};
      min-height: 100vh;
    }

    .content {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: grid;
      padding: 2rem;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 100%);
      // flex-direction: column;
      // justify-content: flex-end;
      // align-items: flex-end;
      // gap: 0.5rem;

      // h1 {
      //   line-height: 1;
      //   margin: 0;
      //   text-align: right;
      // }
      // time, span {
        // }
        
        span {
          font-size: 3rem;
          font-weight: 300;
        }
        
        time {        
        font-size: 5rem;
        font-weight: 600;
      }
    }
  }
}
