@use "sass:math";

@function calc-width-ratio($max, $min) {
  @return $max * math.div(100vh, $min);
}

#{mr-section(weather)} {
  nn-scroll-area {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .background {
      min-width: #{calc-width-ratio(16, 9)};
      min-height: 100vh;
    }

    .content {
      position: absolute;
      display: grid;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 100%);
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "temp"
        "time";

      .temperature {
        grid-area: temp;
        font-size: 2rem;
        font-weight: 300;
        justify-self: start;
        align-self: start;
        small {
          font-size: 68%;
        }
      }

      .time {
        grid-area: time;
        font-size: 3rem;
        font-weight: 600;
        justify-self: end;
        align-self: end;
        letter-spacing: 3px;
        text-align: right;
      }

      .date {
        font-size: 50%;
        font-weight: 300;
        display: block;
      }
    }
  }
}
