.section-links {
  footer {
    text-align: center;
  }
  nn-crayon {
    a {
      font-size: 0.85rem;
      text-decoration: none;
      letter-spacing: 1px;
      word-break: break-word;
    }
  } 
}