@font-face {
  font-family: "icomoon-apap";
  src: url(get-zapp("/fonts/icomoon-apap/icomoon-apap.eot"));
  src: url(get-zapp("/fonts/icomoon-apap/icomoon-apap.eot#iefix")) format("embedded-opentype"),
    url(get-zapp("/fonts/icomoon-apap/icomoon-apap.ttf")) format("truetype"),
    url(get-zapp("/fonts/icomoon-apap/icomoon-apap.woff")) format("woff"),
    url(get-zapp("/fonts/icomoon-apap/icomoon-apap.svg#icomoon")) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

main.section-mineros {
  .nano-workarea {
    $yellowBrand: #f4d242;
    $buttonBackground: $yellowBrand;
    $buttonTextColor: #0168b3;
    $lighBlue: #41afd7;
    $darkBlue: #1f67ac;

    background-color: #{$darkBlue};
    text-align: center;
    background: radial-gradient(#{$lighBlue}, #{$darkBlue} 70%);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;

    a {
      text-decoration: none;
      color: inherit;
      transition: 500ms;
      cursor: pointer;
    }

    button,
    .btn {
      cursor: pointer;
      transition: 500ms;
      border: none;
      outline: none;
    }

    h1 {
      color: #fff;
      font-weight: 700;
      letter-spacing: 1pt;
      font-size: 44pt;
      text-transform: none;
    }

    p {
      color: #fff;
      font-weight: 400;
      letter-spacing: 1pt;
      font-size: 19pt;
      margin: 0;
    }

    small {
      color: #124c83;
      font-size: 12pt;
      letter-spacing: 1pt;
      display: block;
      margin: 8px;
    }

    strong {
      color: $yellowBrand;
      font-size: 39pt;
      display: block;
    }

    header {
      position: absolute;
      top: 20px;
      right: 0;
    }

    section {
      padding-top: 180px;
      padding-bottom: 90px;
      display: none;
      width: 90%;
      margin: auto;
      &.active {
        display: block;
      }
    }

    /* -------------------- class */

    .btn {
      font-weight: 700;
      font-size: 14pt;
      background: $buttonBackground;
      width: 130px;
      display: inline-block;
      margin: 50px 8px 0;
      padding: 10px;
      color: $buttonTextColor;
      border: none;
      box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.15);

      &:hover {
        background-color: #fff;
      }
    }

    .box {
      display: inline-block;
      max-width: 500px;
      vertical-align: top;
    }

    .box.avatar {
      > .skin {
        display: none;
        &.active {
          display: block;
        }
      }
    }

    // --------------------- mobile

    .mobile {
      display: none;
      a {
        border: 5px solid transparent;
        border-radius: 15px;
        margin: 10px;
        display: inline-block;
        padding: 10px;
        transition: 500ms;
        &.active,
        &:hover {
          border: 5px solid $yellowBrand;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      .mobile {
        display: block;
      }

      .desktop {
        display: none;
      }
    }

    @media screen and (max-width: 500px) {
      .edit .tools {
        width: 280px !important;
      }

      .edit .controls button {
        font-size: 16pt;
      }

      #share img {
        width: 260px;
      }
    }

    // --------------------- home

    #home {
      img {
        position: fixed;
        bottom: -100%;
        right: 5%;
        width: 95%;
        z-index: -1;
      }

      h1 {
        max-width: 570px;
        margin: auto;
      }

      .info {
        display: none;
      }
    }

    // --------------------- form

    #form {
      form {
        margin-top: 50px;
      }

      p {
        max-width: 500px;
        margin: auto;
      }
      label {
        font-size: 0;
        display: block;
        margin: 20px;
        letter-spacing: 1pt;
      }
      span {
        font-size: 11pt;
        background: #1461aa;
        color: $yellowBrand;
        text-transform: capitalize;
        display: inline-block;
        width: 140px;
        padding: 8px 0;
      }
      input[type="text"] {
        font-size: 11pt;
        padding: 8px;
        border: none;
        width: 275px;
        outline-color: $yellowBrand;
        letter-spacing: 1pt;
      }
    }

    // --------------------- choose

    #choose {
      .characters {
        margin-top: 30px;
        button {
          background: transparent;
          color: $yellowBrand;
          font-size: 110pt;
          text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
          text-align: center;

          &:hover {
            text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.25);
            color: #42a3dc;
          }

          &.pet {
            width: 88px;
            height: 129px;
            vertical-align: bottom;
            &:before {
              margin-left: -35px;
            }
          }
        }
      }
    }

    // --------------------- edit

    .edit {
      .avatar {
        margin-top: -80px;
        width: 350px;
        height: 600px;
        background-position: center bottom;
        background-repeat: no-repeat;
        position: relative;

        img {
          position: absolute;
          z-index: 3;
        }

        .skin {
          top: 0;
          left: 0;
          z-index: 0;
        }

        .hair {
          left: 33px;
        }
        .eyes {
          left: 63px;
        }
        .nose {
          left: 100px;
        }
        .mouth {
          left: 76px;
        }
      }

      &.male.old .avatar {
        .hair {
          left: 37px;
          top: 12px;
        }
        .eyes {
          left: 67px;
          top: 90px;
        }
        .nose {
          left: 104px;
          top: 114px;
        }
        .mouth {
          left: 81px;
          top: 131px;
        }
      }

      &.male.teen .avatar {
        .hair {
          top: 83px;
        }
        .eyes {
          top: 159px;
        }
        .nose {
          left: 100px;
          top: 184px;
        }
        .mouth {
          left: 77px;
          top: 195px;
        }
      }

      &.male.child .avatar {
        .hair {
          left: 32px;
          top: 213px;
        }
        .eyes {
          top: 293px;
        }
        .nose {
          top: 316px;
        }
        .mouth {
          top: 332px;
        }
      }

      &.female.adult .avatar {
        .hair {
          left: 31px;
          top: 10px;
        }
        .eyes {
          left: 61px;
          top: 87px;
        }
        .nose {
          left: 98px;
          top: 112px;
        }
        .mouth {
          left: 75px;
          top: 123px;
        }

        .baby {
          top: 173px;
          left: 85px;
        }
      }

      &.pet .avatar {
        .skin {
          top: 288px;
          left: 95px;
        }
      }

      .tools {
        width: 430px !important;
      }

      .controls {
        hr {
          border: 2px solid #fff;
          margin-top: -22px;
          width: 280px;
        }

        button {
          border: none;
          background: #fff;
          color: $yellowBrand;
          font-size: 24pt;
          transition: 500ms;
          border-radius: 50%;
          padding: 5px;
          margin: 0 10px;

          &:hover,
          &.active {
            background: $yellowBrand;
            color: #fff;
          }
        }
      }

      .ageControls {
        button {
          margin: 30px 4px 0;
          color: #0168b3;
          width: 70px;
          height: 70px;
          vertical-align: top;
          border-radius: 37%;
          background-color: #f6db50;
          transition: 500ms;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &:hover {
            border-radius: 15%;
            background-color: #3aa1cf;
            color: #f6db50;
          }
        }
        .old {
          font-size: 50pt;
        }
        .adult {
          font-size: 40pt;
        }
        .teen {
          font-size: 30pt;
        }
        .child {
          font-size: 20pt;
        }
      }

      .tabs {
        margin-bottom: 30px;

        div {
          display: none;
          &.active {
            display: block;
          }
        }

        a {
          display: inline-block;
          width: 110px;
          vertical-align: top;
          border: 3px solid #2471b2;
          border-radius: 25px;
          margin: 13px;

          &:hover,
          &.active {
            border: 3px solid $yellowBrand;
          }
        }

        .skin {
          img {
            margin: 4px 0px 1px;
          }
        }

        .hair,
        .eyes,
        .mouth,
        .nose,
        .baby,
        .skin {
          img {
            width: 100px;
          }
        }
      }
    }

    // --------------------- preview

    #preview {
      button.icon {
        font-size: 45pt;
        background-color: transparent;
        color: $yellowBrand;
        vertical-align: 203px;
        transition: 500ms;
        &:hover {
          color: #fff;
        }
      }

      p {
        margin-bottom: 30px;
      }

      .compos {
        position: relative;
        width: 782px;
        height: 440px;
        display: inline-block;
        margin: auto;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 440px;
          z-index: 0;
          display: none;
          &.active {
            display: block;
          }
        }
        .ch {
          &.back {
            top: 95px;
            width: 100px;
            z-index: 1;
          }
          &.front {
            top: 95px;
            width: 120px;
            z-index: 2;
          }
        }
      }
    }
  }

  // ------------ icomoon

  .icon {
    font-family: "icomoon-apap";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.hair:before {
      content: "\e900";
    }
    &.skin:before {
      content: "\e901";
    }
    &.eyes:before {
      content: "\e902";
    }
    &.nose:before {
      content: "\e903";
    }
    &.mouth:before {
      content: "\e904";
    }
    &.pet:before {
      content: "\e905";
    }
    &.male:before {
      content: "\e906";
    }
    &.female:before {
      content: "\e907";
    }
    &.baby:before {
      content: "\e908";
    }
    &.triangle-left:before {
      content: "\f044";
    }
    &.triangle-right:before {
      content: "\f05a";
    }
    &.undo2:before {
      content: "\e909";
    }
    &.arrow-left:before {
      content: "\e90a";
    }
    &.chevron-down:before {
      content: "\f0a3";
    }
    &.chevron-left:before {
      content: "\f0a4";
    }
    &.chevron-right:before {
      content: "\f078";
    }
    &.chevron-up:before {
      content: "\f0a2";
    }
  }
}
