@use "sass:math";

#{mr-section(tetravex)} {
  $typo: "Monserrat", helvetica, sans-serif, verdana;
  $typo_2: "Amatic SC", helvetica, sans-serif, verdana;
  $typo_3: "Oswald", helvetica, sans-serif, verdana;

  $fisrtLevel: 2;
  $lastLevel: 15;

  background: #006368 url(get-zapp("img/extras/grid.jpg"));
  text-align: center;

  nn-scroll-area {
    height: 100%;
    padding: 3rem;
  }

  section {
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100%;
    padding: 2rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .arrow {
    width: 60px;
    height: 44px;
    position: absolute;
    display: inline-block;
    background-image: url(get-zapp("img/tetravex/ar.png"));
    background-repeat: no-repeat;
    transform: rotate(0deg);
    cursor: pointer;
    bottom: 20px;
    z-index: 2;

    &.right {
      right: 20px;
      background-position: -73px center;
      &:hover {
        transform: rotate(10deg);
      }
    }

    &.left,
    &.back {
      left: 20px;
      background-position: 0px center;
      &:hover {
        transform: rotate(-10deg);
      }
    }
  }

  .pencil {
    width: 30px;
    height: 385px;
    position: absolute;
    background-image: url(get-zapp("img/tetravex/lp.png"));
    background-repeat: no-repeat;

    &.brown {
      background-position: 0;
    }
    &.black {
      background-position: -475px 0;
    }
    &.gray {
      background-position: -442px 0;
    }
    &.white {
      background-position: -412px 0;
    }
    &.mint {
      background-position: -380px 0;
    }
    &.cyan {
      background-position: -348px 0;
    }
    &.lightBlue {
      background-position: -317px 0;
    }
    &.blue {
      background-position: -285px 0;
    }
    &.blueViolet {
      background-position: -254px 0;
    }
    &.violet {
      background-position: -222px 0;
    }
    &.darkViolet {
      background-position: -192px 0;
    }
    &.red {
      background-position: -160px 0;
    }
    &.redOrange {
      background-position: -128px 0;
    }
    &.orange {
      background-position: -96px 0;
    }
    &.caramel {
      background-position: -65px 0;
    }
    &.yellow {
      background-position: -33px 0;
    }
  }

  .number {
    &.n2 {
      background-position: -23px -23px;
    }
    &.n3 {
      background-position: -23px -169px;
    }
    &.n4 {
      background-position: -31px -315px;
    }
    &.n5 {
      background-position: -23px -460px;
    }
    &.n6 {
      background-position: -26px -604px;
    }
    &.n7 {
      background-position: -23px -750px;
    }
    &.n8 {
      background-position: -24px -893px;
    }
    &.n9 {
      background-position: -21px -1039px;
    }
    &.n10 {
      background-position: -23px -1183px;
    }
  }

  $newTop: 60%;
  .tambora {
    width: 52px;
    height: 52px;
    display: inline-block;
    background-image: url(get-zapp("img/tetravex/lt.png"));
    background-repeat: no-repeat;

    &.t {
      background-position: -5px $newTop;
    }
    &.e {
      background-position: -57px $newTop;
    }
    &.r {
      background-position: -160px $newTop;
    }
    &.a {
      background-position: -212px $newTop;
    }
    &.v {
      background-position: -265px $newTop;
    }
    &.x {
      background-position: -369px $newTop;
    }
  }

  .cyclograph {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 10%;
    transform: rotate(0deg);
  }

  #rules {
    border: 2px dashed #fff;
    max-width: 560px;
    color: #fff;
    margin: 50px auto;
    padding: 50px 35px;

    button {
      margin: 10px;
      font: 18pt $typo_2;
      border: none;
      color: #fff;
      background: #13a7e0;
      outline: none;
      padding: 5px 10px;
      transition: 500ms;
      &:hover {
        cursor: pointer;
        background: #ff003b;
      }
    }

    img {
      margin-bottom: 20px;
    }

    h1,
    p {
      color: inherit;
      margin: 0;
    }

    h1 {
      font: 52pt $typo_3;
    }

    p {
      font: 18pt $typo_2;
    }
  }

  #home {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    gap: 3rem;

    .btnBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    button {
      margin: 0;
      font: 15pt $typo_2;
      color: #fff;
      background: #19d880;
      outline: none;
      padding: 5px 10px;
      width: 150pt;
      text-align: center;
      transition: 500ms;
      display: inline-block;
      border: none;

      &:hover {
        cursor: pointer;
        background: #ff003b;
      }
    }

    .pencil {
      &.red {
        top: 50px;
        left: 0px;
        transform: rotate(10deg);
      }

      &.brown {
        bottom: -47px;
        right: -19px;
        transform: rotate(350deg);
      }

      &.gray {
        top: -217px;
        right: 108px;
        transform: rotate(93deg);
      }

      &.blue {
        bottom: 31px;
        right: -53px;
        transform: rotate(356deg);
      }

      &.black {
        bottom: -220px;
        left: 156px;
        transform: rotate(90deg);
      }
    }
  }

  #chooseLevel {
    h1 {
      font: 2rem $typo_2;
      display: block;
      width: 172px;
      text-align: left;
      border-bottom: 3px dashed #888;
      color: #0cd794;
      margin: 0 0 1rem;
    }

    button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      margin: 30px;
      border: none;
      background-color: transparent;
      perspective: 1000px;
      outline: none;

      &:hover > canvas {
        transform: rotateZ(190deg) !important;
      }
      &:hover > p {
        background: #3ed84a;
        color: #fff;
      }

      canvas {
        pointer-events: none;
        transform: rotateZ(45deg);
        transition: 1000ms;
      }

      p {
        transition: 200ms;
        font-family: $typo_2;
        font-size: 14pt;
      }
    }
  }

  #final {
    background: transparent url(get-zapp("img/tetravex/win.png")) center no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: none;
    .pencil {
      &.brown {
        bottom: -47px;
        right: -19px;
        transform: rotate(350deg);
      }
      &.gray {
        top: -217px;
        right: 108px;
        transform: rotate(93deg);
      }
      &.blue {
        bottom: 31px;
        right: -53px;
        transform: rotate(356deg);
      }
    }
  }

  .puzzle {
    display: inline-block;
    margin: 20px;
    font-size: 0;
  }

  $widthPiece: 60px;
  $partSize: 20px;

  @for $k from $fisrtLevel through $lastLevel {
    #world_#{$k} {
      .puzzle {
        width: $widthPiece * $k;
      }
    }
  }

  .ND {
    display: none !important;
  }

  .pSolved {
    display: none;
    pointer-events: none;
  }

  .piece {
    width: $widthPiece;
    height: $widthPiece;
    margin: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #000;
    transition: 500ms;
    overflow: hidden;
    font-size: 12pt;
    border: 1px solid #fff;

    .top,
    .bottom {
      width: 100%;
      height: 50%;
      line-height: 1.8 !important;
    }

    .right,
    .left {
      margin-top: math.div(-$partSize, 2);
      margin-bottom: math.div(-$partSize, 2);
      width: $partSize;
      height: $partSize;
      z-index: 2;
      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 60px;
        height: 60px;
        top: -100%;
        transform: rotateZ(45deg);
        background: inherit;
      }
    }

    .top,
    .right,
    .bottom,
    .left {
      pointer-events: none;
      position: absolute;
      font-family: $typo;
      font-weight: bold;
      line-height: 116%;
      text-align: center;
    }

    .right {
      top: 50%;
      right: 0;
      &:before {
        right: -213%;
      }
    }
    .left {
      top: 50%;
      left: 0;
      &:before {
        left: -212%;
      }
    }
    .top {
      top: 0;
      left: 0;
    }
    .bottom {
      bottom: 0;
      left: 0;
    }

    &:hover,
    &.selected {
      opacity: 0.4;
    }
  }

  .ornament {
    position: absolute;

    &.a {
      bottom: -210px;
      left: 170px;
      transform: rotate(-90deg);
    }

    &.b {
      bottom: -238px;
      left: 190px;
      transform: rotate(-91deg);
    }

    &.c {
      top: -220px;
      right: 130px;
      transform: rotate(-269deg);
    }

    &.d {
      top: 60px;
      right: -80px;
      transform: rotate(-7deg);
    }

    &.e {
      bottom: -80px;
      left: -90px;
      transform: rotate(-3deg);
    }

    &.f {
      bottom: 30px;
      right: -80px;
      transform: rotate(-3deg);
    }

    &.g {
      top: 40px;
      left: -46px;
      transform: rotate(2deg);
    }
  }

  /* medalla */

  $size: 320px;
  .medal {
    position: relative;
    width: $size;
    height: $size;
    margin: 3rem auto;
    z-index: 0;
    display: none;

    * {
      opacity: 0;
    }

    .body {
      transform: scale(0.8) rotateZ(35deg);
    }

    .number {
      display: block;
      position: absolute;
      width: 186px;
      height: 129px;
      background-image: url(get-zapp("img/tetravex/numbers.png"));
      background-repeat: no-repeat;
      z-index: 1;
      top: 85px;
      left: 68px;
    }

    .ribbon {
      position: absolute;
      bottom: 40px;
      left: -60px;
      z-index: 2;
      transform: scale(0.8);
    }

    .regla {
      display: block;
      position: absolute;
      width: 191px;
      height: 448px;
      background: url(get-zapp("img/tetravex/regla.png")) center bottom no-repeat;
      z-index: -1;
      transition: 500ms;

      &.a {
        top: -20%;
        right: 20%;
        transform: rotateZ(45deg) scale(0.8);
      }

      &.b {
        top: -20%;
        left: 20%;
        transform: rotateZ(-45deg) scale(0.8);
      }
    }

    .winText {
      font: 38pt $typo_2;
      display: block;
      position: absolute;
      width: 339px;
      height: 71px;
      z-index: 3;
      bottom: 60px;
      left: -17px;
      text-align: center;

      &.white {
        color: #fff;
      }
      &.black {
        color: #000;
      }
    }

    &.stopAnimation:hover > .regla {
      transform: rotateZ(0deg) scale(0.8) !important;
    }
  }

  .levelName {
    font: 38pt $typo_2;
    display: block;
    width: 120px;
    height: 71px;
    text-align: left;
    border-bottom: 3px dashed #888;
    color: #ff7a00;
    margin: 0 0 1rem;
  }
}
